.gutter {
  margin: 2em;
}

.song-card {
  margin: 1em;
  width: auto;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
}

.song-card-user {
  float: right;
}
