:root {
  --bjssDarkBlue:	#041E43;
  --bjssLightBlue: #0047BB;

  --lightest: #697896;
  --lighter: #506185;
  --light: #374a73;
  --dark: #1e3462;
  --darker: #061e51;
}

.gutter {
  margin: 2em;
}

.center {
  margin: auto;
}

.bjss-info {
  color: #e6e8ed;
  background-color: #374a73;
}

.search-table-data {
  vertical-align: center;
}

.navbar,
.navbar-default {
  background-color: var(--bjssDarkBlue);
  color: white;
}

ul.navbar-nav {
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 17px;
}

img.navbar-brand {
  width: 80px;
}


.song-card {
  margin: 1em;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
}

.song-card-user {
  float: right;
}

.priority-1 {
  background-color: #e6e8ed;
}
.priority-2 {
  background-color: #b4bbca;
}
.priority-3 {
  background-color: #697896;
}
.priority-4 {
  background-color: #374a73;
}
.priority-5 {
  background-color: #1e3462 ;
}
