.home-page {
  ol {
    
    li {
      padding: 1rem;
      

      b {
        margin-bottom: 1rem;
        line-height: 3.5rem;
      }
    }
  }

  ul {
    
    li {
      line-height: 1.6rem;
      padding: .5em;
      line-height: 1.9rem;
      padding: .5em;
      color:#454446;
      margin-right: auto;
      margin-left:auto;
      text-align: left;
      font-size:1.7rem;
      padding-left:10px; 
    }
  }

  &__button {
    margin: 7rem auto;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 6rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba($color-black, 0.6);
    color: $color-white;
    background-color: $primary-text-color-dark;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
    outline: none;
    display: block;
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 4rem rgba($color-black, 0.6);
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 2rem rgba($color-black, 0.6);
    }
  }
  
}
.pad-top {
  padding-top:2rem;
}

.pad-bottom {
  padding-bottom: 2rem;
}

.home-first-section {
  width:100vw;
  height:100vh;
  background-image:url('/static/img/dj-home.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  float: none;
  
  &--desc {
    font-size: 1.8rem;
  }
}

img.home-logo {
  float: none;
  height: 15rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  //width: 11rem;
}

.header {
  animation: moveToRight 1s ease-out;

  span {
    display: block;
  }

  .home-title {
    font-size: 8.6rem;
    font-weight: 800;
    text-align: center;
    display:block;
    color:black;
  }
  
  .home-intro {
    font-size: 4.5rem;
    font-weight: 700;
    color: black;
    text-align: center;
  }
  .welcome-intro {
    font-size: 4.5rem;
    font-weight: 700;
    color: white;
    text-align: center;

  }
}

.container {
  display: block;
  float:none;
  
}

.feature-grid {
  justify-content: center;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 25% 25% 25%;
  grid-auto-rows: auto;
  font-size: 1.6rem;
}

.feature-title {
  font-size: 5rem;
  font-weight: 1000;
  text-align: center;
  color:#700a92;
  display:block;
}

.how-to-icon{
  margin-left: auto;
  margin-right: auto;
  float: none;
  width:30%;
  height:100%;
  display: block;
}

.icon{
  margin-left: auto;
  margin-right: auto;
  float: none;
  width:42%;
  display: block;
}

#feature {
  height: 110vh;
  width: 100vw;
  display: block;
  background-color:$color-white;

}

#how-to {
  display: block;
  color: black;
  height: 100vh;
  width: 100vw;
  background-color: #e7e7e7;
}

.how-to-titles {
  display: block;
  text-align: center;
  font-size: 4rem;
}