@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateAndPulse {
  0% { transform: rotate(0deg) scale(1); }

  50% { transform: rotate(180deg) scale(1); }

  60% { transform: rotate(216deg) scale(1.2); }

  70% { transform: rotate(252deg) scale(1); }

  80% { transform: rotate(288deg) scale(1.3); }

  100% { transform: rotate(360deg) scale(1); }
}