.right { float: right; }

.left { float: left; }

.hover { cursor: pointer; }

.extra-pad { padding: 1rem; }

.gutter { padding: 5rem; }

.display-block { display: block; }

.display-none { display: none; }
