.right { float: right; }

.left { float: left; }

.bottom { bottom: 0; }

.hover { cursor: pointer; }

.extra-pad { padding: 1rem; }

.gutter { padding: 5rem; }

.display-block { display: block; }

.display-none { display: none; }

.margin-top-sm {
  margin-top: 5rem;
}

.margin-top-med {
  margin-top: 7.5rem;
}

.margin-top-lg {
  margin-top: 10rem;
}