:root {
  --bjssDarkBlue: #041e43;
  --bjssLightBlue: #0047bb;
  --lightest: #697896;
  --lighter: #506185;
  --light: #374a73;
  --dark: #1e3462;
  --darker: #061e51;
  --white: #FFF;
}

.player-container {
  width: 100%;
  margin: auto;
  border: 1px solid --bjssLightBlue;
  border-radius: 10px;
  -webkit-box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.6);
}

.player-container-bottom {
  margin-bottom: 4em;
}

.player-btn, .player-btn-left, .player-btn-right, .player-bottom-left, .player-bottom-right {
  background-color: var(--bjssLightBlue); 
  color: var(--white);
}

.player-btn-left {
  width: 50%;
  padding: 0.4em;
  border: 0px;
  border-right: 1px solid grey;
  border-top-left-radius: 10px;
}

.player-btn-right {
  width: 50%;
  padding: 0.4em;
  border: 0px;
  border-left: 1px solid grey;
  border-top-right-radius: 10px;
}

.player-btn {
  width: 33.4%;
  padding: 0.4em;
  border: 0px;
}

.player-bottom-left {
  float: left;
  width: 50%;
  padding: 0.4em;
  border: 0px;
  border-right: 1px solid grey;
  border-bottom-left-radius: 10px;
}

.player-bottom-right {
  float: left;
  width: 50%;
  padding: 0.4em;
  border: 0px;
  border-left: 1px solid grey;
  border-bottom-right-radius: 10px;
}


.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 4px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--lightest);
  cursor: pointer;
}
