

.gutter {
  margin: 2em 4em;
}


.center {
  margin: auto;
}

.bjss-info {
  color: #e6e8ed;
  background-color: #374a73;
}

.search-table-data {
  vertical-align: center;
}

.current-play {
  border: none;
}

/* forms */
.form {
  padding: 1em;
  margin: auto;
  width: 800px;
}

.form-row {
  justify-content: center;
  margin: auto;
}

.offset-title {
  margin: 2em 0 2em 15em;
}

.contentsMenu span{
  border-style: solid;
  display:inline-block;
  padding:5px;
  border:3px solid;
}

.contentsMenu a{
  color: black;
}

.contentsMenu a:hover{
  color: grey;
}