// COLOURS
$bjss-dark-blue: #041e43;
$bjss-darker-blue: #00337a;
$bjss-light-blue: #0047bb;
$bjss-lighter-blue: #005bec;
$blue-light:#374a73;
$blue-lighter:#506185;
$blue-lightest:#697896;
$blue-dark: #1e3462;
$blue-darker: #061e51;

$primary-text-color: #21AAB8;
$primary-text-color-dark: #3CCBDA;

$color-black: #000;
$color-white: #FFF;
$color-gray: #a8a8a8;
$color-gray-light: #E7E7E7;
$color-grayish-white: #F2F2F2;

$color-grad-light: #686868;
$color-grad-dark: #151515;

$color-red: #DC3545;

// GRID DEFINITIONS
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

// MEDIA WIDTHS
$max-mobile-width: 767px;

