// COLOURS
$bjss-dark-blue: #041e43;
$bjss-darker-blue: #00337a;
$bjss-light-blue: #0047bb;
$bjss-lighter-blue: #005bec;
$blue-light:#374a73;
$blue-lighter:#506185;
$blue-lightest:#697896;
$blue-dark: #1e3462;
$blue-darker: #061e51;

$color-white: #FFF;
$color-grayish-white: #F2F2F2;

// MEDIA WIDTHS
$max-mobile-width: 767px;

