
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $color-red;
  color: $color-white;
  border-radius: 5px;
  border: none;
  padding: .5rem 2rem;


  &-remove {
   
    &:hover {
      background-color: darken($color-red, 15%);
    }
  }
}