.hide{
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 10vh;
  background: rgba($color-black, 0.6);
  z-index: 10;
  display:none;
}

.modal-button {
  position: absolute;
  left: 45%;
  bottom: 5%;
}
.subtitle {
  float: left;
  clear: left;
  font-size: 24px;
  font-weight: 300;
}

.show-then-hide {
  position: fixed;
  padding: 1em;
  background: $color-green;
  border: none;
  border-radius: 10px;
  color: $color-white;
  width: 50vw;
  height: 10vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display:block;
  z-index: 13;
  box-shadow: 0px 0px 5px $color-white;
  

  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
      opacity:0;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
      opacity:0;
  }
}
