.player-container {
  width: 100%;
  margin: auto;
  border: 1px solid $bjss-light-blue;
  border-radius: 10px;
  -webkit-box-shadow: 0px -2px 20px -4px rgba($color-black, 0.6);
  -moz-box-shadow: 0px -2px 20px -4px rgba($color-black, 0.6);
  box-shadow: 0px -2px 20px -4px rgba($color-black, 0.6);

  &-bottom {
    margin-bottom: 4em;
  }
}
.player-btn, .player-btn-left, .player-btn-right, .player-bottom-left, .player-bottom-right {
  background-color: $bjss-light-blue; 
  color: $color-white;
}

.player-btn {
  width: 33.4%;
  padding: 0.4em;
  border: 0px;

  &-left {
    width: 50%;
    padding: 0.4em;
    border: 0px;
    border-right: 1px solid grey;
    border-top-left-radius: 10px;
  }

  &-right {
    width: 50%;
    padding: 0.4em;
    border: 0px;
    border-left: 1px solid grey;
    border-top-right-radius: 10px;
  }
}

.player-bottom {

  &-left {
    float: left;
    width: 50%;
    padding: 0.4em;
    border: 0px;
    border-right: 1px solid grey;
    border-bottom-left-radius: 10px;
  }

  &-right {  
    float: left;
    width: 50%;
    padding: 0.4em;
    border: 0px;
    border-left: 1px solid grey;
    border-bottom-right-radius: 10px;
  }
}

.slider {

  &::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
  }

  &::-moz-range-progress {
    border-radius: 1rem;
    background-color: $primary-text-color-dark;
    height: .5rem;
  }
  
  &::-moz-range-track {
    height: .5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: $color-gray;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .slider {
    width: 100%;
    height: .5rem;
    border-radius: 1rem;
    background-color: rgba($color-white, 0.4);
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    &::-webkit-slider-runnable-track {
      height: 2rem;
      -webkit-appearance: none;
      color: #C7C7C7;
    }
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      background-color: #C7C7C7;
      cursor: pointer;
    }
  }

}
