:root {
  --bjssDarkBlue: #041e43;
  --bjssLightBlue: #0047bb;
  --lightest: #697896;
  --lighter: #506185;
  --light: #374a73;
  --dark: #1e3462;
  --darker: #061e51;
}
html * {
  font-family: "Catamaran", sans-serif;
}

.table {
  margin-top: 1em;
}

.gutter {
  margin: 2em;
}

.navbar,
.navbar-default {
  background-color: var(--bjssDarkBlue);
  color: white;
}

ul.navbar-nav {
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

img.navbar-brand {
  width: 80px;
}

.center {
  margin: auto;
}

.bjss-info {
  color: #e6e8ed;
  background-color: #374a73;
}

.search-table-data {
  vertical-align: center;
}

.navbar,
.navbar-default {
  background-color: var(--bjssDarkBlue);
  color: white;
}

ul.navbar-nav {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

img.navbar-brand {
  width: 80px;
}

.song-card {
  margin: 1em;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
}
.card-image {
  padding: 0em;
}

.card-header-body {
  padding: 0em 1em;
}

#text {
  text-shadow: 0px 0px 2px #697896;
}
.card-link {
  color: black;
  text-decoration: underline;
}
.song-card-user {
  float: right;
}

.card-priority {
  float: right;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 15%;
  float: right;
  margin-top: -6%;
  text-shadow: 0 0 0px #041e43;

}

.priority-1 {
  background-color: #c2d3ff;
}
.priority-2 {
  background-color: #b4bbca;
}
.priority-3 {
  background-color: #697896;
}
.priority-4 {
  background-color: #374a73;
}
.priority-5 {
  background-color: #1e3462;
}
